<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    .button{
        display: inline-block;
        background-color: #1ec800;
        color: white;
        border: none;
        padding: 15px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
        transition-duration: 0.4s;

    }
  </style>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

</head>
<body>
    <a href="https://www.instagram.com/2ruka__/">
            <i class="fa fa-instagram" aria-hidden="true" style="font-size:50px; color:#E4405F; cursor: pointer"></i>

    </a>

    <a href="https://www.naver.com/">네이버</a>
    <a href="https://www.youtube.com/">유튜브</a>

    <a href="/login">
    <button class="button">네이버 로그인</button>
    </a>

</body>
</html>