<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<form action="/abc" method="post" class="box">
  <div class="field">
    <label class="label" style="font-size:25px;">URL을 입력해주세요.</label>
    <div class="control">
      <input class="input" name="URL" style="font-size:30px;" type="text">
    </div>
  </div>

    <div class="buttons">
  <button class="button is-primary is-light" style="font-size:25px;">입력</button>
  </div>

</form>

</body>
</html>

